.container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.text {
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
  margin: 10px 0 15px 0;
  background-color: #fc8019;
  color: white;
}

.desc {
  font-size: 24px;
  color: #444;
  width: 70%;
}

.wrapper {
  width: 100%;
}
